/* Header */
.header {
  height: 50px;
  background-color: green;
  margin-bottom: 20px;
}

/* CHARACTER*/

.main-container {
  width: 80%;
  margin: 0 auto;
}
.main-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  margin-bottom: 20px;
}
.card-img {
  width: 250px;
  height: 350px;
  object-fit: cover;
}
.card-name {
  display: flex;
  justify-content: center;
}
